.banner-bg{
    background:url('../../../img/Untitled-1.png');
    padding-top: 10px;
    height: 80vh;
    width: 100%;
    background-size: cover;
    right: 0;
}
.banner-info .hi{
    color:white;
    font-size: 20px;
    font-family: 'Lora', serif;
}
.banner-info .tosir{
    color:green;
    font-weight: 600;
    font-size: 100px;
    font-family: 'Lora', serif;
}
.typer{
    font-size: 30px;
   
    font-weight: 700;
color: rgb(63, 245, 18);
}
.info-tpyer{
    padding-top: 30px;
}
.typer h2{
     color:orangered;
}
.typer h3{
    color:white;
}


.social-icon .icon1{
    color:rgb(7, 141, 41);
    font-size: 25px;
    margin:5px;
    cursor: pointer;

}
.social-icon .icon2{
    color:rgb(8, 189, 221);
    font-size: 28px;
    margin:5px;
    cursor: pointer;

}
.social-icon .icon3{
    color:white;
    font-size: 30px;
    margin:5px;
    cursor: pointer;

}
.banner-btn{
    margin-top:10px;
}

.banner-btn button{
    margin:10px;
    outline:none;
    border-radius: 30px; 
   background-color: transparent;
    border:2px solid rgb(10, 253, 2);
    color:green;
    font-size: 20px;
    transition: all 0.5s ease-in-out;

}
.banner-btn .banner-2{
     padding:0 10px;
}
.banner-btn .banner-1{
       padding:0 25px;
}
.banner-btn button:hover{
    background-color: rgb(16, 180, 10);
    color:rgb(224, 208, 208);
    font-weight: 600;
}