.header{
    background-color: rgba(7, 1, 1, 0.993);
}
.main-nav{
    display: flex;
    justify-content:space-between;
    max-width:1240px;
    margin:0 auto;
    color:white;
    padding:10px;
}
.nav-menu {
    display: flex;
    transition: all 0.5s ease-in-out;
    font-family: 'Ubuntu', sans-serif;
}
.nav-menu a{
 text-decoration: none;
 margin-left: 10px;
 font-size: 18px;
 color:rgba(255, 255, 255, 0.788);
}

.toggle{display:none ;}
.corsbar{color: rgb(253, 253, 253);
    transition:all 0.5s ease-in-out;
font-size: 20px;}
.resume{
    color:rgb(241, 248, 241);
    border:1px solid green;
    padding: 5px;
    border-radius: 5px;
    background-color: green;
}

@media only screen and (max-width: 500px){
 .toggle{
 display: block;
 transition:all 0.5s ease-in-out;
    }
  .nav-menu{
      flex-direction: column;
      text-align: center;
    position: absolute;
    width: 100%;
      right:0;
      top:40px;
      padding-top: 10px;
      padding-bottom: 10px;
  }
   .nav-menu a{
       margin-top:5px;
       background-color: green;
       border-radius: 50px;
       display:inline;
       z-index: 1;
   }
   .nav-menu.close {
       top:-100%;
       transition: all 0.5s ease-in-out;
   }

}